<html>
  <head>

    <title>Spots</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--jquery-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>    
    <!--bootrap-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--openlayers-->
    <link rel="stylesheet" href="openlayers/ol.css">
    <script src="openlayers/ol.js"></script>
    <!--custom css-->
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand closeMe" href="/"><div id="logoDiv"><img src="images/skateboard.png"></img></div> Spots</a>
        </div>
         <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" onclick="showSpotTable()" class="closeMe" data-toggle="modal" data-target="#aboutModal">spots</a></li>
            <li><a href="#" onclick="showUserTable()" class="closeMe" data-toggle="modal" data-target="#aboutModal">users</a></li>
        </div>
      </div>
    </nav>

    <!--content-->
    <div class="container">

        <!--display messages-->
        <div>
            <%- messages() %>
        </div>

        <!--table container-->
        <div>
            <table id="adminTable" class="table table-hover text-center">
                
            </table>
        </div>

    </div> <!-- /container -->

    <!-- add spot modal -->
    <div class="modal fade" id="spotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Spot</h4>
                </div>
                <!--modal content-->
                <div class="modal-body">
                    <!--<input type="hidden" id="coords" name="coords">-->
                    <input type="hidden" id="spotId" name="spotId">
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input required type="text" class="form-control" id="name" name="name" placeholder="name the spot...">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input required type="text" class="form-control" id="address" name="address" placeholder="enter the address">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea required maxlength="150" class="form-control" rows="5" id="description" name="description" placeholder="describe the spot..."></textarea>
                    </div>
                    <!--<div class="form-group" id="photoGroup">
                        <label for="photo" class="btn btn-default">
                            Add Photo <input required type="file" id="photo" name="photo" hidden>
                        </label>
                        <span id="noPhotoError" class="help-block">a photo is required</span>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" onclick="saveSpotUpdates()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- registration form modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                </div>
                <!--modal content-->
                <div class="modal-body">
                    <input type="hidden" id="userId" name="userId">                    
                    <div class="form-group" id="userNameGroup">
                        <label for="userName">Username</label>
                        <input required minlength="3" maxlength="30" type="text" class="form-control" id="userName" name="username" placeholder="enter username">
                    </div>
                    <div class="form-group">
                        <label for="userEmail">Email</label>
                        <input required type="email" class="form-control" id="userEmail" name="email" placeholder="enter email">
                    </div>
                    <div class="form-group">
                        <label for="userLocation">Location</label>
                        <select class="form-control" name="location">
                            <option>Vienna</option>
                            <option>Dublin</option>
                            <option>New York</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button onclick="saveUserUpdates()" type="button" id="regSubmit" class="btn btn-default">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        spotsCache = [];

        function showSpotTable() {
            if (spotsCache.lenth == 0) {
                buildSpotTable(spotsCache)
            } else {
                $.get( "/getSpots", function(data) {
                    buildSpotTable(data);
                });
            }
        }

        function buildSpotTable(spots) {
            var table = $('#adminTable');
            var html = `
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Upload By</th>
                        <th class="text-center">Upload Date</th>
                        <th class="text-center">Photo</th>
                        <th class="text-center" ></th>
                    </tr>
                </thead>
                <tbody>
            `;
            for (i in spots) {
                html += `
                    <tr>
                        <td>`+ spots[i].name +`</td>
                        <td>`+ spots[i].uploadBy +`</td>
                        <td>`+ spots[i].uploadDate.split('T')[0] +`</td>
                        <td><img id="`+ spots[i]._id +`" src="uploads/`+ spots[i].photo +`"></td>
                        <td>
                            <button onclick='editSpot("`+ spots[i]._id +`")' class="btn btn-default leftBtn">Edit</button>
                            <button onclick='deleteSpot("`+ spots[i]._id +`")' class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                `;
            }
            html += '<tbody>';
            table.html(html);
        }

        function deleteSpot(spotId) {
            // use to delete image from file system
            var imageName = $('#'+ spotId).prop('src').split('/')[4]
            $.ajax({
                url: "/admin/spot/" + spotId,
                type: 'DELETE',
                success: function() {
                    spotsCache = []; 
                    showSpotTable(); 
                },
            });
        }

        function editSpot(spotId) {
            for (i in spotsCache) {
                if (spotsCache[i]._id == spotId) {
                    console.log(spotsCache[i]);
                    $('#spotId').val(spotId)
                    $('#name').val(spotsCache[i].name);
                    $('#address').val(spotsCache[i].address);
                    $('#description').val(spotsCache[i].description);
                    break;
                }
            }
            $('#spotModal').modal('toggle');
        }

        function saveSpotUpdates() {
            var data = {
                spotId: $('#spotId').val(), 
                name: $('#name').val(),
                address: $('#address').val(),
                description: $('#description').val()
            }
            $.ajax({
                url: "/admin/spot",
                type: 'PUT',
                data: data,
                success: function(data) {
                    console.log(data);
                    $('#spotModal').modal('toggle');      
                    spotsCache = [];                                   
                    showSpotTable(); 
                },
            });
        }

        usersCache = [];

        function showUserTable() {
            if (usersCache.length == 0) {
                $.get( "/admin/getUsers", function(data) {
                    usersCache = data;
                    buildUserTable(data);
                });
            } else {
                buildUserTable(usersCache);
            }
        }

        function buildUserTable(users) {
            var table = $('#adminTable');
            var html = `
                <thead>
                    <tr>
                        <th class="text-center">Username</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Location</th>
                        <th class="text-center">Join Date</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
            `;
            for (i in users) {
                if (users[i].isAdmin) continue;
                html += `
                    <tr>
                        <td>`+ users[i].username +`</td>
                        <td>`+ users[i].email +`</td>
                        <td>`+ users[i].location +`</td>
                        <td>`+ users[i].joinDate.split('T')[0] +`</td>
                        <td>
                            <button onclick='editUser("`+ users[i]._id +`")' class="btn btn-default leftBtn">Edit</button>
                            <button onclick='deleteUser("`+ users[i]._id +`")' class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                `;
            }
            html += '<tbody>';
            table.html(html);
        }

        function deleteUser(userId) {
            $.ajax({
                url: "/admin/user/" + userId,
                type: 'DELETE',
                success: function() {
                    usersCache = []; 
                    showUserTable(); 
                },
            });
        }

        function editUser(userId) {
            for (i in usersCache) {
                if (usersCache[i]._id == userId) {
                    $('#userId').val(userId)
                    $('#userName').val(usersCache[i].username);
                    $('#userEmail').val(usersCache[i].email);
                    // location
                    //$('#description').val(spotsCache[i].description);
                    break;
                }
            }
            $('#userModal').modal('toggle');
        }

        function saveUserUpdates() {
            var data = {
                userId: $('#userId').val(), 
                username: $('#userName').val(),
                email: $('#userEmail').val(),
                //description: $('#description').val()
            }
            $.ajax({
                url: "/admin/user",
                type: 'PUT',
                data: data,
                success: function(data) {
                    console.log(data);
                    $('#userModal').modal('toggle');
                    usersCache = [];        
                    showUserTable(); 
                },
            });
        }

        $(function() {
            showSpotTable();
        });

        // collaps navbar after click
        $('.closeMe').on('click', function(){
            if($('.navbar-collapse').hasClass('in')) {
                $(".navbar-collapse").collapse('hide');
            }
        });

        // slide up flash messages after 5 seconds
        function hideMessages() {
            $('#messages').slideUp();
        }
        setTimeout(hideMessages, 5000);
        
        // check photo
        function checkPhoto() {
            var photoVal = $('#photo').val();
            if (!photoVal) {
                $('#photoGroup').addClass('has-error');
            }
        }

    </script>

  </body>

</html>