<html>
  <head>

    <title>Spots</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--jquery-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>    
    <!--bootrap-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--openlayers-->
    <link rel="stylesheet" href="openlayers/ol.css">
    <script src="openlayers/ol.js"></script>
    <!--custom css-->
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand closeMe" href="/"><div id="logoDiv"><img src="images/skateboard.png"></img></div> Spots</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if (!user) { %>
                    <li><a href="#" data-toggle="modal" data-target="#loginModal">login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#registrationModal">register</a></li>
                <% } %>       
                <li><a href="#" data-toggle="modal" data-target="#aboutModal">about</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">cities <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" onclick="centerMap(48.210033, 16.363449)" class="closeMe">Vienna</a></li>
                <li><a href="#" onclick="centerMap(53.350140, -6.266155)" class="closeMe">Dublin</a></li>
                <li><a href="#" onclick="centerMap(40.730610, -73.935242)" class="closeMe">New York</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
            <li><a href="#" class="closeMe" id="findMeButton" onclick="findMe()">find me</a></li>
            <% if (user) { %>
                <li><a href="#" class="closeMe" id="addSpotButton" data-toggle="modal" data-target="#spotModal">add spot</a></li>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <% if (user) { %>
        <div id="userLocation" hidden><%= user.location %></div>
    <% } %>

    <!--content-->
    <div class="container">

        <!--display messages-->
        <div>
            <%- messages() %>
        </div>

        <!--map-->
        <div id="map" class="map"></div>

        <footer class="footer">
            <p>&copy; Spots 2017</p>
        </footer>

    </div> <!-- /container -->

    <!-- add spot modal -->
    <div class="modal fade" id="spotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Spot</h4>
                </div>
                <form action="/" method="POST" encType="multipart/form-data">
                    <!--modal content-->
                    <div class="modal-body">
                        <input type="hidden" id="coords" name="coords">
                        <div class="form-group">
                            <label for="title">Name</label>
                            <input required type="text" class="form-control" id="name" name="name" placeholder="name the spot...">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input required type="text" class="form-control" id="address" name="address" placeholder="enter the address">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea required maxlength="150" class="form-control" rows="5" id="description" name="description" placeholder="describe the spot..."></textarea>
                        </div>
                        <div class="form-group" id="photoGroup">
                            <label for="photo" class="btn btn-default">
                                Add Photo <input required type="file" id="photo" name="photo" hidden>
                            </label>
                            <span id="noPhotoError" class="help-block">a photo is required</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default" onclick="checkPhoto()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- registration form modal -->
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Register</h4>
                </div>
                <form method="POST" action="/users">
                    <!--modal content-->
                    <div class="modal-body">
                        <div class="form-group" id="userNameGroup">
                            <label for="userName">Username</label>
                            <input required minlength="3" maxlength="30" type="text" class="form-control" id="userName" name="username" placeholder="enter username">
                            <span id="userNameError" class="help-block">username already exists, please enter a different one</span>
                        </div>
                        <div class="form-group">
                            <label for="userPassword">Password</label>
                            <input required minlength="8" type="password" class="form-control" id="userPassword" name="password" placeholder="enter password">
                        </div>
                        <div class="form-group">
                            <label for="userConfirmPassword">Confirm Password</label>
                            <input required type="password" class="form-control" id="userConfirmPassword" name="confirmPassword" placeholder="confirm password">
                        </div>
                        <div class="form-group">
                            <label for="userEmail">Email</label>
                            <input required type="email" class="form-control" id="userEmail" name="email" placeholder="enter email">
                        </div>
                        <div class="form-group">
                            <label for="userLocation">Location</label>
                            <select class="form-control" name="location">
                                <option>Vienna</option>
                                <option>Dublin</option>
                                <option>New York</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="regSubmit" class="btn btn-default">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- login form modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="/users/login">
                    <!--modal content-->
                    <div class="modal-body">
                        <div id="loginForm">
                            <form class="form-signin">
                                <label for="loginUserName" class="sr-only">Username</label>
                                <input type="text" id="loginUserName" class="form-control" name="username" placeholder="Username" required>
                                <label for="loginPassword" class="sr-only">Password</label>
                                <input type="password" id="loginPassword" class="form-control" name="password" placeholder="Password" required>
                                <button class="btn btn-default btn-block" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--spot info modal-->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Spot Info</h4>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <p id="infoName"></p>
                        <p id="infoAddress"></p>
                        <!--<br>-->
                        <p id="infoDescription"></p>
                    </div>
                    <div id="infoPhoto">
                        <img src=""></img>
                    </div>
                    <hr>
                    <p style="font-size:11;"><i id="infoUploadBy"></i></p>
                </div>
            </div>
        </div>
    </div>

    <!--about modal-->
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="logoDivAbout"><img src="images/skateboard.png"></img></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Spots</h4>
                </div>
                <div class="modal-body">
                    <br>
                    <p id="tagline">Welcome to Spots! A website for sharing skatespots from your current location.</p>
                    <br>
                    <h4>How To</h4>
                    <p>
                        First join Spots by creating a user account! Spots can be viewed without an account, but you must 
                        sign up to be able to save a spot. A spot can only be added using a mobile device.
                    </p>
                    <p>
                        To add a spot first go skating and find one! Then open Spots on your phones browser. Click the menu
                        icon and you will see you have the option to 'add spot'. Click this option and a spot form will appear
                        with the address of the spot autofilled. The autofilling is gotten using geolocation and may not be 
                        totally accurate. If the address does not look right to you then correct it before saving. Fill out the
                        name and description and add a photo of the spot. Then click 'Save' and the spot will be added to the map! 
                    </p>
                    <p>
                        When a spot is added to the map it can be seen as a black spot icon. Click on these icons to view the information
                        about a spot, including uploaded images.
                    </p>
                    <p>
                        Another option, 'find me', is only available on a mobile device. Click on this and the map will zoom on your position.
                    </p>
                    <p>Enjoy, shred and please contribute!</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        // map definition
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                // default center on Vienna
                center: ol.proj.fromLonLat([16.363449, 48.210033]),
                zoom: 13
            })
        });

        var mapView = map.getView();

        // set center if user is logged in, only on desktop browser
        $(function() {
            // should probably move this to the backend and put x/y in the div
            locationCoords = {
                'Vienna': {x: 16.363449, y: 48.210033},
                'Dublin': {x: -6.266155, y: 53.350140},
                'New York': {x: -73.935242, y: 40.730610}
            }
            userLoc = $('#userLocation').html();
            if (userLoc && !isMobile) {
                var lat = locationCoords[userLoc]['y'];
                var lng = locationCoords[userLoc]['x'];
                mapView.setCenter(ol.proj.fromLonLat([lng, lat]));
            }
        });

        // geolocation object
        const geo = navigator.geolocation;
        
        // center map on current location
        $(function() {
            geo.getCurrentPosition(success, failure);
        });

        function success(position) {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            $('#coords').val(lat + ',' + lng);
            mapView.setCenter(ol.proj.fromLonLat([lng, lat]));
        }

        function failure(error) {
            console.log(error.message);
            // if location failure disable location features
            $('#addSpotButton').hide();
            $('#findMeButton').hide();
            if (isMobile) {
                alert('geolocation failed, spot sharing is disabled');
            }
        }

        // center map
        function centerMap(lat, lng) {
            mapView.setCenter(ol.proj.fromLonLat([lng, lat]));
            mapView.setZoom(13);
        }

        // zoom to my location and add user marker (find me)
        function findMe() {
            geo.getCurrentPosition(setUserLocation, failure);
            mapView.setZoom(18);
        }

        var vectorSourceUser;
        function setUserLocation(position) {
            try {
                vectorSourceUser.clear();
            } catch (error) {}
            var features = [];
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            mapView.setCenter(ol.proj.fromLonLat([lng, lat]));
            var iconFeature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([lng, lat])),
            });  
            iconFeature.setStyle(userMarker);
            features.push(iconFeature);
            vectorSourceUser = new ol.source.Vector({
                features: features
            });
            var vectorLayer = new ol.layer.Vector({
                source: vectorSourceUser
            });
            map.addLayer(vectorLayer); 
        }

        // marker styles
        var userMarker = new ol.style.Style({
            image: new ol.style.Icon(({
                src: 'images/skateboarder.png'
            }))
        });

        var spotMarker = new ol.style.Style({
            image: new ol.style.Icon(({
                src: 'images/skateboard.png'
            }))
        });

        // get spots on load and intervals
        $(function() {
            getSpots();
            setInterval(getSpots, 30000);
        });

        // ajax to get saved spots
        function getSpots() {
            $.get( "/getSpots", function(data) {
                addSpotsToMap(data)
            });
        }

        // add spots to map
        var vectorSourceSpots;
        function addSpotsToMap(spots) {
            try {
                vectorSourceSpots.clear();
            } catch (error) {}
            var features = [];
            for (i in spots) {
                var spot = spots[i];
                var coords = spot['coords'];
                var lat = parseFloat(coords.split(',')[0]);
                var lng = parseFloat(coords.split(',')[1]);
                var iconFeature = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([lng, lat])),
                    type: 'spot',
                    name: spot['name'],
                    address: spot['address'],
                    description: spot['description'],
                    photo: spot['photo'],
                    uploadBy: spot['uploadBy'],
                    uploadDate: spot['uploadDate']
                });  
                iconFeature.setStyle(spotMarker);
                features.push(iconFeature);
            }
            vectorSourceSpots = new ol.source.Vector({
                features: features
            });
            var vectorLayer = new ol.layer.Vector({
                source: vectorSourceSpots
            });
            map.addLayer(vectorLayer); 
        }

        // add address to spot form
        $('#spotModal').on('shown.bs.modal', function (e) {
            geo.getCurrentPosition(getAddressLocation, getAddressfailure);
        })

        function getAddressLocation(position) {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            // populate hidden coords form field
            $('#coords').val(lat + ',' + lng);
            $.get( "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&key=AIzaSyAnejEJ27RlESS7fjGHXEp0h_jz3dMFf58", function(data) {
                if (data['status'] === 'OK') {
                    var fullAddress = data['results'][0]['formatted_address'];
                    console.log(fullAddress);
                    $('#address').val(fullAddress);
                }
                else {
                    console.log('error getting address data from Geocode api');
                    $('#address').attr('placeholder', 'cannot determine address, please enter one');
                }
            });
        }

        function getAddressfailure(error) {
            console.log(error.message);
            $('#address').attr('placeholder', 'cannot determine address, please enter one');
        }

        // click on feature to open info modal
        map.on('singleclick', function(evt) {
            var feature = map.forEachFeatureAtPixel(evt.pixel, function(feature, layer) {
                if (feature['S']['type'] == 'spot') {
                    var spot = feature['S'];
                    $('#infoName').html('<b>' + spot['name'] + '</b>');
                    $('#infoAddress').html('<i>' + spot['address'] + '</i>');
                    $('#infoDescription').html(spot['description']);
                    $("#infoPhoto > img").attr('src', 'uploads/' + spot['photo']);
                    $('#infoUploadBy').html('uploaded by: ' + spot['uploadBy']);
                    $('#infoModal').modal('toggle');
                }
            },
            {
                hitTolerance: 10
            });
        }); 

        // collaps navbar after click
        $('.closeMe').on('click', function(){
            if($('.navbar-collapse').hasClass('in')) {
                $(".navbar-collapse").collapse('hide');
            }
        });

        // slide up flash messages after 5 seconds
        function hideMessages() {
            $('#messages').slideUp();
        }
        setTimeout(hideMessages, 5000);

        // hide username error message
        $('#userNameError').hide();

        // check username 
        $('#userName').focusout(function(){
            var username = $('#userName').val();
            if (username) {
                $.get( "users/checkUsername/" + username, function(data) {
                    if (data.result == 'false') {
                        // no user found, allow form submit
                        $('#userNameGroup').removeClass('has-error');
                        $('#userNameGroup').addClass('has-success');
                        $('#userNameError').fadeOut();
                        $('#regSubmit').prop('disabled', false);
                    } else {
                        // user found, alert and prevent form submit
                        $('#userNameGroup').addClass('has-error');
                        $('#userNameError').fadeIn();
                        $('#regSubmit').prop('disabled', true);
                    }
                });
            }
        });

        
        // check photo
        // $('#noPhotoError').hide();
        function checkPhoto() {
            var photoVal = $('#photo').val();
            if (!photoVal) {
                $('#photoGroup').addClass('has-error');
            }
        }

        // if not mobile
        isMobile = true;
        if(! /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            $('#addSpotButton').hide();
            $('#findMeButton').hide();
            isMobile = false;
        }

    </script>

  </body>

</html>