
/*for browse file button*/

[hidden] {
  display: none !important;
}

/*navbar*/

#logoDiv {
    float: left;
    margin-top: -8px;
    margin-right: 10px;
}

/*modals*/

#logoDivAbout {
    float: left;
    margin-right: 10px;
}

#aboutModal .modal-title {
    margin-top: 6px;
}

#aboutModal .modal-body {
    text-align: justify;
}

#tagline {
    text-align: center;
    font-weight: bold;
}

#loginForm {
    padding: 30px 60px 10px 60px;
}

#loginPassword {
    margin-top: 10px;
    margin-bottom: 20px;
}

.divider {
    display: none;
}

#userNameError {
    text-align: center;
}

#infoAddress {
    opacity: 0.7;
}

#infoPhoto {
    text-align: center;
}

#noPhotoError {
    padding-right: 50px;
    float: right;
}

#infoPhoto img {
    width: 100%; 
    border-radius: 5px;
}

/*map style*/

#map {
    height: 85%;
    padding-top: 10px;
}

/*mesages*/

#messages ul {
    padding-left: 0;
    list-style-type: none;
}

#messages .success li {
    opacity: 0.6;
    margin: auto;
    padding: 5 20 5 20;
    list-style: none;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}

#messages .error li {
    opacity: 0.6;
    margin: auto;
    padding: 5 20 5 20;
    list-style: none;
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}

/*footer*/

.footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 19px;
    color: lightgray;
    border-top: 1px solid #e5e5e5;
}

/*admin*/

#adminTable {
    margin-top: 50px;
}

#adminTable img {
    width: 100px;
    height: auto;
}

.leftBtn {
    margin-right: 10px;
}

#adminTable > tbody > tr > td {
     vertical-align: middle;
}

/*media query*/
@media(max-width: 768px) {
    .divider {
        display: block;
    }

    #logoDiv {
        margin-right: 10px;
    }

    #messages .error .success li {
        width: 100%;
    }
}